@import url(https://fonts.googleapis.com/css?family=Encode+Sans+Expanded|Open+Sans+Condensed:300);

body {
	margin: 0;
	padding: 0;
	background-color: #fcfcfc;
}

div {
	display: inline-block;
}

hr {
	margin-top: 3%;
	height: 3px;
	background-color: #7d97ad;
	box-shadow: 0 0 10px 2px #eee;
}

h1 {
	letter-spacing: 10px;
}

h3 {
	float: right;
	margin-top: 0px;
	letter-spacing: 2px;
}

p {
	margin-top: 5px;
	font-size: 25px;
	font-family: "Encode Sans Expanded", sans-serif;
	color: #777;
	letter-spacing: 1px;
}

.font {
	font-family: "Encode Sans Expanded";
	color: #555;
	letter-spacing: 1px;
}

.dashboard {
	width: 90%;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

.header-udacity {
	width: 100%;
	margin-top: 40px;
	text-align: left;
}

.logo {
	width: 10%;
}

.title {
	line-height: 10px;
	float: right;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 25px;
}

.featured-work {
	font-size: 32px;
	margin-top: 25px;
	color: #999;
	text-align: left;
}

.feature-p {
	font-size: 32px;
	margin-bottom: 2px;
}

.feature-span {
	font-size: 12px;
	padding-bottom: 50px;
}


.main {
	width: 100%;
	margin-top: 20px;
}

.image-panorama {
	width: 100%;
	box-shadow: 0 0 100px 5px #ddd;
}

.feature {
	text-align: center;
	width: 100%;
}

.appify {
	width: 31%;
	float:left;
}

.sunflower {
	width: 31%;
}

.bokeh {
	width: 31%;
	float: right;
}

.image {
	width: 100%;
	box-shadow: 0 0 100px 5px #ddd;
}

@media only screen and (min-width: 1700px) {
	.title {
		font-size: 40px;
	}

	hr {
		margin-top: 2%;
	}

	.logo {
		width: 10%;
	}

	.featured-work {
		font-size: 45px;
	}

	.feature-p {
		font-size: 45px;
	}
	
	.feature-span {
		font-size: 20px;	
	}
}

@media only screen and (max-width: 1000px) {
	.title {
		font-size: 15px;
	}

	.featured-work {
		font-size: 20px;
	}

	.feature-p {
		font-size: 20px;
	}
	
	.feature-span {
		font-size: 8px;	
	}
}

@media only screen and (max-width: 750px) {
	.title {
		font-size: 8px;
	}

	hr {
		margin-top: 2%;
	}

	.featured-work {
		font-size: 25px;
	}

	.feature {
		text-align: center;
	}

	.appify {
		width: 80%;
		float: none;
		margin-bottom: 30px;
	}

	.sunflower {
		width: 80%;
		float: none;
		margin-bottom: 30px;
	}

	.bokeh {
		width: 80%;
		float: none;
	}

	.feature-p {
		font-size: 23px;
	}
	
	.feature-span {
		font-size: 12px;
	}
}

@media only screen and (max-width: 500px) {
	hr {
		margin-top: 8%;
	}

	.title {
		font-size: 10px;
	}
}